.game-outcome {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.game-text {
    font-size: 1rem;
    text-align: center;
}

.game-hint {
    color : orangered;
}

.game-icon {
    font-size: 3rem;
    text-align: center;
}

.game-display {
    color: #80F;
    font-size: 2rem;
    text-align: center;
}

.turn {
    font-size: 2rem;
    text-align: center;
}

.indicator--blue.fa {
    color: blue;
}

.indicator--orangered.fa {
    color: orangered;
}

.indicator--red.fa {
    color:red;
}

.indicator--orange.fa {
    color: orange;
}

.indicator--yellow.fa {
    color: gold;
}

.indicator--green.fa {
    color: green;
}

.indicator--cyan.fa {
    color: #00c8fa;
}